<div class="login-container">
    <div class="login-box">
      <h2 class="login-title">Login First</h2>
  
      <form>
        <label for="username">User Name</label>
        <input type="text" id="username" placeholder="Enter your username">
  
        <label for="password">Password</label>
        <input type="password" id="password" placeholder="Enter your password">
  
        <button class="login-btn" ><a href= "/log2book">Login</a></button>
      </form>
      <p class="signup-text">
        Don't have an account? <a href="/register">Sign Up</a>
      </p>
    </div>

    <div class="background-image" style="background-image: url('assets/images/image 18.png');"></div>
  </div>
  