<footer class="footer">
    <div class="footer-container">
      <div class="footer-section">
        <h3>RS Shanisha Decorations</h3>
        <p>Explore our themed backdrop decoration collections today</p>
      </div>
      <div class="footer-section contact">
        <h3>Contact</h3>
        <p>+94 70 261 9771</p>
        <p>info.shanisha.com</p>
      </div>
      <div class="footer-section social">
        <a href="#" class="social-icon">
          <img src="assets/images/fb.png" alt="Facebook">
        </a>
      </div>
    </div>
  </footer> 
  
