<div class="register-container">
  <div class="register-box">
    <h2 class="register-title">Create your account</h2>

    <form>
      <div class="name-fields">
        <div class="input-group">
          <label for="firstName">First Name</label>
          <input type="text" id="firstName" placeholder="First Name">
        </div>
        <div class="input-group">
          <label for="lastName">Last Name</label>
          <input type="text" id="lastName" placeholder="Last Name">
        </div>
      </div>

      <div class="input-group">
        <label for="contact">Contact Number</label>
        <input type="text" id="contact" placeholder="Enter your contact number">
      </div>

      <div class="input-group">
        <label for="email">Email</label>
        <input type="email" id="email" placeholder="Enter your email">
      </div>

      <div class="input-group">
        <label for="username">User Name</label>
        <input type="text" id="username" placeholder="Enter your username">
      </div>

      <div class="input-group">
        <label for="password">Password</label>
        <input type="password" id="password" placeholder="Enter your password">
      </div>

      <div class="input-group">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" id="confirmPassword" placeholder="Confirm your password">
      </div>

      <button class="register-btn">Sign Up</button>
    </form>

    <p class="login-text">
      Already have an account? <a href="/login">Login</a>

    </p>
  </div>

   <div class="background-image"  style="background-image: url('assets/images/image 18.png');"></div>
</div>
