

<div class="homepage">
    <header class="header" >
      <img src="assets/images/image 3.png" alt="Elegant Backdrop" class="header-image">
      <div class="header-text">
        <h1>Elegant Backdrop</h1>
        <h2>Decorations For Every Occasion</h2>
      </div>
    </header>
  
    <section class="stats" >
      <div class="stat-container1">
        <div class="welcome-text">
          <h1>Welcome to RS Shanisha Decorations</h1>
          <p>Specializing in exquisite backdrop decorations for all occasions in Sri Lanka. Explore our categorized
            portfolio and book appointments easily for your next celebration.</p>
        </div>
        <div class="stat-container2">
          <div class="stat-item">
            <span class="stat-number">150+</span>
            <span class="stat-label">Events Decorated</span>
          </div>
          <div class="stat-item">
            <span class="stat-number">15+</span>
            <span class="stat-label">Customer Reviews</span>
          </div>
        </div>
      </div>
      <img src="assets/images/image 4.png" alt="Decorations" class="stats-image">
    </section>
  
    <section class="services" >
      <h1>Our Services</h1>
      <div class="service-container">
        <div class="service-item" >
          <img src="assets/images/image 5.png" alt="Themed Decorations" class="service-image">
          <h4>Themed Decorations</h4>
          <p>Discover our diverse portfolio of themed decorations for birthdays, weddings, and special celebrations.</p>
        </div>
        <div class="service-item" >
          <img src="assets/images/image 8.png" alt="Booking Appointments" class="service-image">
          <h4>Booking Appointments</h4>
          <p>Easily book your decoration appointments online after logging in to our user-friendly system.</p>
        </div>
        <div class="service-item" >
          <img src="assets/images/image 9.png" alt="Customer Reviews" class="service-image">
          <h4>Customer Reviews</h4>
          <p>Leave reviews and feedback after your event to help us improve and serve you better.</p>
        </div>
      </div>
    </section>
  </div>
  