<div class="portfolio">
    <div class="category" *ngFor="let category of categories">
      <h2>{{ category.name }}</h2>
      <div class="image-slider">
        <button (click)="prevSlide(category)" [disabled]="category.currentIndex === 0">
          &#10094;
        </button>
  
        <div class="image-container">
          <img
            *ngFor="let img of category.images.slice(category.currentIndex, category.currentIndex + 4)"
            [src]="img"
            alt="{{ category.name }}"
            class="slider-image"
          />
        </div>
  
        <button (click)="nextSlide(category)" [disabled]="category.currentIndex >= category.images.length - 4">
          &#10095;
        </button>
      </div>
    </div>
  </div>
